

@font-face {
  font-family: 'PokemonHollow'; 
  src: url('/CSS/fonts/PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solid'; 
  src: url('/CSS/fonts/Pokemon Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;       
}



h1,h2{
	font-size:40px;
	text-align: center;
	font-family:'Solid', sans-serif;
	color: #ffd60a;
	 -webkit-text-stroke: 2.5px #003566;
  text-stroke: 2.5px #003566;

}


label{
	color: #ffd60a;
	font-size: 25px;
	margin-left:15px;
	font-family:'Solid', sans-serif;
	-webkit-text-stroke: 1.2px #003566;
  	text-stroke: 1.2px #003566;

}

input{

font-size:35px;
border-radius: 15px;
margin-left: 10px;
margin-top:15px;
}

form{

	background-color: #ef233c;
	width: 500px;
	height:500px;
	border-radius: 15px;
	      
}
	button{
	color: #ffd60a;
	width:200px;
	height: auto;
	font-size:35px;
	margin-top: 50px;
	margin-left: 150px;
	border-radius:20px;
	font-family:'Solid', sans-serif;
		-webkit-text-stroke: 2px #003566;
	  	text-stroke: 2px #003566;
	background-color: #0496ff;
	cursor:pointer;
	border: none;
}

.formulario {
  display: flex;
  justify-content: center; 
  align-items: center;   
}



#equipoDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  #equipoDiv {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
  }
}


@media (max-width: 480px) {
  #equipoDiv {
    grid-template-columns: 1fr; 
    gap: 8px;
    padding: 8px;
  }
}